html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.hideIt {                       /* Used to hide mediaHeader entirely */
    display: none;
}

header{
    background: url(../images/chalkBackground.jpg);
    padding: 20px 0;
    
}

.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 auto;
}

h1{
    color: #fff;
    font-size: 54px;
}

.nav-link{
    font-size: 24px;
    color: #fff;
    border-right: 1px #fff solid;
    line-height: 50%;
    text-align: center;
}

@media screen and (max-width: 780px){

    .header{
        justify-content: space-around;
    }




}

@media screen and (max-width: 450px){
    .hideIt{
        display: block;
    }
    h1{
        display: none;
    }
    #nonMediaHeader{
        display: none;
    }
    ul.nav{
        display: none;
    }
    .nav-link{
        border: none;
        padding: 10px;
    }
    #collapsableBar{
        background: url(../images/chalkBackground.jpg);
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 40%
    }

    #mobileLogoArea {
        width: 55%;
    }


    #mediaHeader{
        background: url(../images/chalkBackground.jpg);
        margin: 0;
        padding: 0 5%;
        width: 100%;
    }
    img#logo{
        display: block;
        height: 40px;
        width: 75px;
    }

}

